.main__page {
  padding: 0.5rem 1rem;
  background-color: white;
  justify-content: center;
  color: black;
  border: 2px solid black;
  border-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 475px;
  font-size: 25px;
  line-height: 1.5;
}

.main__picture img {
  position: absolute; /* allows image to underlay and fill as a background */
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0.3;
  object-fit: fill;
  overflow: hidden; /* This hides the parts of the image outside the container */
}

.missions__box {
  width: 100vw;
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem;
  background-color: #ffb777;
  border: #ffb777;
  border-radius: 20px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.signin {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: center;
}
.gap {
  margin: 2rem;
  display: inline;
}
.gap__big {
  margin: 10rem;
  display: inline;
}
.mentor__button__signin {
  font-size: 40px;
  padding: 2 2rem;
  background-color: #ffb777;
  border: #ffb777;
  border-radius: 20px;
}

.mentee__button__signin {
  font-size: 40px;
  padding: 2 2rem;
  background-color: #ffb777;
  border: #ffb777;
  border-radius: 20px;
}
.signup {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: center;
}

.mentor__button__signup {
  font-size: 40px;
  padding: 3 3rem;
  background-color: #ffb777;
  border: #ffb777;
  border-radius: 20px;
}

.mentee__button__signup {
  font-size: 40px;
  padding: 3 3rem;
  background-color: #ffb777;
  border: #ffb777;
  border-radius: 20px;
}

.icons {
  display: flex; /*  can put elements next to each other*/
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.donation__btn {
  padding: 2rem 2rem;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  width: 500px;
}

.donation__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffb777;
}

.profiles__btn {
  padding: 2rem 2rem;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  width: 500px;
}

.profiles__btn img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffb777;
}

.testimonies__btn {
  padding: 2rem 2rem;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  width: 500px;
}

.testimonies__btn img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ffb777;
}

.preview {
  display: flex; /*  can put elements next to each other*/
  flex-direction: row;
  align-items: center;
}
